<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COREON</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<header class="app-header">
    <div class="header-top">
        <div class="header-left">
            <img src="{{ url_for('static', filename='imagens/visual/logo.png') }}" class="logo">
            <span class="logo-text">COREON</span>
        </div>
        <span class="icon-bell">🔔</span>
    </div>

    <div class="header-greeting">
        <h2>Olá, Fabrício</h2>
        <p>Hoje é um bom dia para treinar</p>
    </div>
</header>

<section class="semana">
    <div class="dias">
        <div class="dia">S</div>
        <div class="dia">T</div>
        <div class="dia">Q</div>
        <div class="dia">Q</div>
        <div class="dia">S</div>
        <div class="dia hoje">S</div>
        <div class="dia">D</div>
    </div>
</section>

<main>

    <!-- CARD DESTAQUE -->
    <div class="card-destaque">
        <div class="destaque-bg"></div>

        <div class="barra-inferior">
            <div class="destaque-texto">
                <h3>Treino em casa</h3>
                <span>Corpo inteiro · 30–40 min</span>
            </div>

            <a href="/treino/treino_em_casa/executar" class="btn-iniciar">
                Iniciar treino
            </a>
        </div>
    </div>


    <!-- GRID SECUNDÁRIO -->
    <div class="grid-secundario">

        <div class="card-secundario">
            <div class="texto">
                <h4>Superior 1</h4>
                <span>Bíceps</span>
            </div>
            <img src="{{ url_for('static', filename='imagens/treinos/biceps.png') }}">
        </div>

        <div class="card-secundario">
            <div class="texto">
                <h4>Inferior 1</h4>
                <span>Quadríceps</span>
            </div>
            <img src="{{ url_for('static', filename='imagens/treinos/quadriceps.png') }}">
        </div>

        <div class="card-secundario">
            <div class="texto">
                <h4>Superior 2</h4>
                <span>Costas</span>
            </div>
            <img src="{{ url_for('static', filename='imagens/treinos/costas.png') }}">
        </div>

        <div class="card-secundario">
            <div class="texto">
                <h4>Inferior 2</h4>
                <span>Glúteos</span>
            </div>
            <img src="{{ url_for('static', filename='imagens/treinos/gluteo.png') }}">
        </div>

    </div>

</main>

</body>
</html>
